SUBSYSTEM=="input", ACTION=="add", ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", \
RUN+="/sbin/insmod    /root/Little-Penguin-1/Assignment04/main.ko"

SUBSYSTEM=="input", ACTION=="remove", ENV{ID_BUS}=="usb", ENV{ID_INPUT_KEYBOARD}=="1", \
RUN+="/sbin/rmmod /root/Little-Penguin-1/Assignment04/main.ko"
